<!DOCTYPE html>
<html>
<head>
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'></script>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'></link>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css'></link>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'></script>
</head>
<body>
	<!-- This is a simple page template that displays two values, with a simple 
		   JavaScript conditional. You'll need something slightly fancier for HW4,
		   probably with a loop for generating the rows of the table. -->
  <h1>Lookup results</h1>
  You searched for: <%= theInput %><p>
  <%if (result != null) { %>
  Translation: <%= result %><p>
  <% } %>
  <%if (message != null) { %>
  <font color="red"><%= message %><p>
  <% } %>
  <a href="/">Back to search</a>
</body>
</html>
