.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9; 
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}

.message {
	background-color: #fff;
	border: 1px solid #e7eaec;
	text-align: left;
	display: block;
	padding: 10px 20px;
	position: relative;
	border-radius: 4px;	
}

.chat-message {
  padding: 10px 20px;
}

.chat-log .chat-message.left .date {
  float: right;
}
.chat-log .chat-message.right .date {
  float: left;
}
.chat-log .chat-message.left .message {
  text-align: left;
  margin-left: 55px;
}
.chat-log .chat-message.right .message {
  text-align: right;
  margin-right: 55px;
}
.date {
  font-size: 10px;
  color: #888888;
}
.content {
  display: block;
}

.chat-log {
  background: #eee;
  padding: 15px;
  height: 800px;
  overflow-y: auto;
}

.author {
	color: #0000ff;
}

.alert {
  padding: 20px;
  background-color: DodgerBlue !important;
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
} 






