<!DOCTYPE html>
<html>
<head>
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'></script>
	<!-- CSS only -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<meta name='viewport' content='width=device-width, initial-scale=1'></meta>
</head>
<script>
	var private_invites = [];
	var group_invites = [];
	
	function updatePrivateInvites(initialize) {
  	$.post('/getPrivateInvites', {}, function (data) {
  		if (!initialize) {
  			let updatedInvites = data.invites;
	        for (var i = 0; i < group_invites.length; i++) {
	          let invite = private_invites[i];
	          if (!updatedInvites.some(item => item.sender.S == invite.sender.S)) {
	            private_invites.splice(i, 1);
	            i--;
	          }
	        }
	        updatedInvites.forEach(invite => {
	          if (!private_invites.some(item => item.sender.S == invite.sender.S)) {              
	            private_invites.push(invite);
	            $('#invite-alert').attr("hidden", false);
	          }
	        });	
  		} else {
  			private_invites = data.invites;
  		}
  	});
  }
  
  function updateGroupInvites(initialize) {
  	$.post('/getGroupInvites', {}, function (data) {
  		if (!initialize) {
  			let updatedInvites = data.invites;
	        for (var i = 0; i < group_invites.length; i++) {
	          let invite = group_invites[i];
	          if (!updatedInvites.some(item => item.chat_id.S == invite.chat_id.S)) {
	            group_invites.splice(i, 1);
	            i--;
	          }
	        }
	        updatedInvites.forEach(invite => {    
	          if (!group_invites.some(item => item.chat_id.S == invite.chat_id.S)) {                
	            group_invites.push(invite);
	            $('#invite-alert').attr("hidden", false);
	          }
	        });	
  		} else {
  			group_invites = data.invites;
  		}
  	});
  }
  
  $(document).ready(function() {
    updatePrivateInvites(true);
    updateGroupInvites(true);
    setInterval(function() {
      updatePrivateInvites(false);
      updateGroupInvites(false);
    }, 10000);
  });
</script>
<body>
	<div class="alert" id="invite-alert" hidden="hidden">
	 	<span class="closebtn" onclick="this.parentElement.hidden='hidden';">&times;</span>
	 	You have new chat invites! Check the start chat page to accept or decline the invites.
	 </div> 
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/homepage">PennBook</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/homepage">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="/createChat">Start Chat<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/newsfeed">News Feed<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/profile">My Profile<span class="sr-only">(current)</span></a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0" action="/search" method="post" autocomplete="off">
				<span class="autocomplete">
					<input id="user-search" class="form-control mr-sm-2" type="search" name="keyword" placeholder="Search people" aria-label="Search">
				</span>
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
			<a class="nav-link" href="/logout">Logout</a>
		</div>
	</nav>
	<br>
	<div class="container">
		<h1>
			Search results
		</h1>
		<table class="table">
			<tbody>
				<% for (user of users) {%>
				<tr>
					<td>
						<a href='/profile/<%=user.login.S%>''><%= user.fullname.S %> (<%= user.login.S %>)</a>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
    
</body>
</html>